body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-weight: 300;
  color: #111;
  text-align: center;
  font-size: 1.25rem;
}
.bold{
  font-weight: bold;
}
.bg-image{

  background-image: url('./fondo_pokemon.jpg');

  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

      /*
  background: -moz-linear-gradient(45deg, rgba(2, 142, 236, 0.295), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(8, 202, 236, 0.295), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(5, 203, 238, 0.6), rgba(13, 17, 198, 0.69) 100%);

  */
  
}

.titulo h1{
  text-align: center;
  margin-top: 10rem;
}

h2{
  text-align: center;
}